In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [17]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
## Preprocess the data
### Drop irrelevant columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [19]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [20]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [21]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [22]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [23]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [25]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [26]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [27]:
## DiVide the dataset into indepent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [29]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [28]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [30]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

### ANN Implementation

In [31]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\hp\anaconda3\envs\finalv1\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [32]:
(X_train.shape[1],)

(12,)

In [33]:
## Build Our ANN Model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),##HL1 connected with input
    Dense(32,activation='relu'),#HL2
    Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From c:\Users\hp\anaconda3\envs\finalv1\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [34]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [35]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [36]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [47]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" #+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [48]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [49]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback]#<---,early_stopping_callback
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2180 - accuracy: 0.9057 - val_loss: 0.6493 - val_accuracy: 0.8285
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2182 - accuracy: 0.9038 - val_loss: 0.5846 - val_accuracy: 0.8255
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2147 - accuracy: 0.9064 - val_loss: 0.6539 - val_accuracy: 0.8365
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2145 - accuracy: 0.9064 - val_loss: 0.6050 - val_accuracy: 0.8370
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2067 - accuracy: 0.9093 - val_loss: 0.6672 - val_accuracy: 0.8250
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2068 - accuracy: 0.9097 - val_loss: 0.6270 - val_accuracy: 0.8360
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2123 - accuracy: 0.9086 - val_loss: 0.6670 - val_accuracy: 0.8295
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2069 - accuracy: 0.9087 - val_loss: 0.6721 - val_accuracy: 0.8450
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2124 - accuracy: 0.9080 - val_loss: 0.6466 - val_accuracy: 0.8350
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2054 - accuracy: 0.9110 - val_loss: 0.6775 - val_accuracy: 0.8340
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2061 - accuracy: 0.9094 - val_loss: 0.6759 - val_accuracy: 0.8215
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2073 - accuracy: 0.9096 - val_loss: 0.6597 - val_accuracy: 0.8410
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2109 - accuracy: 0.9061 - val_loss: 0.6796 - val_accuracy: 0.8395
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2097 - accuracy: 0.9068 - val_loss: 0.6561 - val_accuracy: 0.8380
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2138 - accuracy: 0.9078 - val_loss: 0.6691 - val_accuracy: 0.8385
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2139 - accuracy: 0.9082 - val_loss: 0.6419 - val_accuracy: 0.8375
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2077 - accuracy: 0.9082 - val_loss: 0.6945 - val_accuracy: 0.8270
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2071 - accuracy: 0.9099 - val_loss: 0.6939 - val_accuracy: 0.8325
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2091 - accuracy: 0.9090 - val_loss: 0.7111 - val_accuracy: 0.8465
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2113 - accuracy: 0.9087 - val_loss: 0.6809 - val_accuracy: 0.8245
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2058 - accuracy: 0.9096 - val_loss: 0.6993 - val_accuracy: 0.8360
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2053 - accuracy: 0.9114 - val_loss: 0.6726 - val_accuracy: 0.8460
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2016 - accuracy: 0.9089 - val_loss: 0.7139 - val_accuracy: 0.8255
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2026 - accuracy: 0.9116 - val_loss: 0.6867 - val_accuracy: 0.8385
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2081 - accuracy: 0.9091 - val_loss: 0.6404 - val_accuracy: 0.8370
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2030 - accuracy: 0.9114 - val_loss: 0.6891 - val_accuracy: 0.8455
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2091 - accuracy: 0.9095 - val_loss: 0.7298 - val_accuracy: 0.8290
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2033 - accuracy: 0.9130 - val_loss: 0.7143 - val_accuracy: 0.8395
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2006 - accuracy: 0.9094 - val_loss: 0.7550 - val_accuracy: 0.8395
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2008 - accuracy: 0.9099 - val_loss: 0.7676 - val_accuracy: 0.8385
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2032 - accuracy: 0.9115 - val_loss: 0.7597 - val_accuracy: 0.8345
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2012 - accuracy: 0.9140 - val_loss: 0.8188 - val_accuracy: 0.8320
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2096 - accuracy: 0.9125 - val_loss: 0.7498 - val_accuracy: 0.8235
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1984 - accuracy: 0.9146 - val_loss: 0.7648 - val_accuracy: 0.8350
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2054 - accuracy: 0.9097 - val_loss: 0.7573 - val_accuracy: 0.8435
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2070 - accuracy: 0.9090 - val_loss: 0.7358 - val_accuracy: 0.8400
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1992 - accuracy: 0.9122 - val_loss: 0.7615 - val_accuracy: 0.8330
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2024 - accuracy: 0.9103 - val_loss: 0.7245 - val_accuracy: 0.8285
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2037 - accuracy: 0.9105 - val_loss: 0.7171 - val_accuracy: 0.8415
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2000 - accuracy: 0.9121 - val_loss: 0.7826 - val_accuracy: 0.8340
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1950 - accuracy: 0.9147 - val_loss: 0.7628 - val_accuracy: 0.8265
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1989 - accuracy: 0.9128 - val_loss: 0.7784 - val_accuracy: 0.8405
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2070 - accuracy: 0.9106 - val_loss: 0.7259 - val_accuracy: 0.8365
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2049 - accuracy: 0.9099 - val_loss: 0.7397 - val_accuracy: 0.8400
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2066 - accuracy: 0.9126 - val_loss: 0.8244 - val_accuracy: 0.8300
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1952 - accuracy: 0.9126 - val_loss: 0.7405 - val_accuracy: 0.8375
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1923 - accuracy: 0.9161 - val_loss: 0.7675 - val_accuracy: 0.8290
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1909 - accuracy: 0.9162 - val_loss: 0.8940 - val_accuracy: 0.8470
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2095 - accuracy: 0.9094 - val_loss: 0.7462 - val_accuracy: 0.8275
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1940 - accuracy: 0.9155 - val_loss: 0.7875 - val_accuracy: 0.8370
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1916 - accuracy: 0.9166 - val_loss: 0.7860 - val_accuracy: 0.8345
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1900 - accuracy: 0.9174 - val_loss: 0.8285 - val_accuracy: 0.8375
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1974 - accuracy: 0.9120 - val_loss: 0.7971 - val_accuracy: 0.8415
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2064 - accuracy: 0.9103 - val_loss: 0.8167 - val_accuracy: 0.8355
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1959 - accuracy: 0.9130 - val_loss: 0.8762 - val_accuracy: 0.8310
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1988 - accuracy: 0.9141 - val_loss: 0.8912 - val_accuracy: 0.8405
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2059 - accuracy: 0.9110 - val_loss: 0.8986 - val_accuracy: 0.8375
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1994 - accuracy: 0.9134 - val_loss: 0.8272 - val_accuracy: 0.8350
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1920 - accuracy: 0.9156 - val_loss: 0.8651 - val_accuracy: 0.8300
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1869 - accuracy: 0.9191 - val_loss: 0.8456 - val_accuracy: 0.8365
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1881 - accuracy: 0.9154 - val_loss: 0.8386 - val_accuracy: 0.8240
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1964 - accuracy: 0.9156 - val_loss: 0.8174 - val_accuracy: 0.8385
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1890 - accuracy: 0.9170 - val_loss: 0.8902 - val_accuracy: 0.8390
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1969 - accuracy: 0.9118 - val_loss: 0.8844 - val_accuracy: 0.8415
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1916 - accuracy: 0.9149 - val_loss: 0.8158 - val_accuracy: 0.8390
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1867 - accuracy: 0.9169 - val_loss: 0.8499 - val_accuracy: 0.8315
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1919 - accuracy: 0.9147 - val_loss: 0.8461 - val_accuracy: 0.8435
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1870 - accuracy: 0.9185 - val_loss: 0.8816 - val_accuracy: 0.8275
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1932 - accuracy: 0.9161 - val_loss: 0.8651 - val_accuracy: 0.8445
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1974 - accuracy: 0.9135 - val_loss: 0.8558 - val_accuracy: 0.8345
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2009 - accuracy: 0.9136 - val_loss: 0.8042 - val_accuracy: 0.8360
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2029 - accuracy: 0.9125 - val_loss: 0.9031 - val_accuracy: 0.8280
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1920 - accuracy: 0.9156 - val_loss: 0.8576 - val_accuracy: 0.8435
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1877 - accuracy: 0.9186 - val_loss: 0.8474 - val_accuracy: 0.8430
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1886 - accuracy: 0.9151 - val_loss: 0.8619 - val_accuracy: 0.8295
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1832 - accuracy: 0.9171 - val_loss: 0.8543 - val_accuracy: 0.8375
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1863 - accuracy: 0.9179 - val_loss: 0.8937 - val_accuracy: 0.8355
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1933 - accuracy: 0.9154 - val_loss: 0.9445 - val_accuracy: 0.8455
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2049 - accuracy: 0.9139 - val_loss: 0.8365 - val_accuracy: 0.8355
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1836 - accuracy: 0.9162 - val_loss: 0.9477 - val_accuracy: 0.8325
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1840 - accuracy: 0.9181 - val_loss: 0.8720 - val_accuracy: 0.8400
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1895 - accuracy: 0.9169 - val_loss: 0.8692 - val_accuracy: 0.8395
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1912 - accuracy: 0.9166 - val_loss: 0.8203 - val_accuracy: 0.8310
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1841 - accuracy: 0.9174 - val_loss: 0.8394 - val_accuracy: 0.8430
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1818 - accuracy: 0.9210 - val_loss: 0.9310 - val_accuracy: 0.8445
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1873 - accuracy: 0.9174 - val_loss: 0.8354 - val_accuracy: 0.8370
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1868 - accuracy: 0.9156 - val_loss: 0.8960 - val_accuracy: 0.8275
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1827 - accuracy: 0.9180 - val_loss: 0.9106 - val_accuracy: 0.8140
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1842 - accuracy: 0.9172 - val_loss: 0.8839 - val_accuracy: 0.8465
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1851 - accuracy: 0.9170 - val_loss: 0.8806 - val_accuracy: 0.8420
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1881 - accuracy: 0.9162 - val_loss: 0.8522 - val_accuracy: 0.8390
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1844 - accuracy: 0.9185 - val_loss: 0.9282 - val_accuracy: 0.8330
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1755 - accuracy: 0.9201 - val_loss: 0.9490 - val_accuracy: 0.8400
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1835 - accuracy: 0.9193 - val_loss: 0.8988 - val_accuracy: 0.8325
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1894 - accuracy: 0.9174 - val_loss: 0.8923 - val_accuracy: 0.8395
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1900 - accuracy: 0.9184 - val_loss: 0.9122 - val_accuracy: 0.8440
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1910 - accuracy: 0.9144 - val_loss: 0.9016 - val_accuracy: 0.8240
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1904 - accuracy: 0.9165 - val_loss: 0.9128 - val_accuracy: 0.8405
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1739 - accuracy: 0.9222 - val_loss: 0.9174 - val_accuracy: 0.8365
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1791 - accuracy: 0.9201 - val_loss: 0.9380 - val_accuracy: 0.8345

In [50]:
model.save('model.h5')

In [52]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 10140), started 0:06:40 ago. (Use '!kill 10140' to kill it.)

In [ ]:
### Load the pickle file